<% if @results %>

  <ul class="container collection z-depth-3">
    <% @results.each do |result| %>
      <li id="book-search-result-container" class="collection-item hoverable brown lighten-5" data-link="<%= book_path(result.best_book.id) %>">
        <div class="row no-margin-bottom">
          <div class="col s2 m1 right-align">
            <img src=<%= result.best_book.small_image_url %> alt="" class="z-depth-2">
          </div>
          <div class="col s10 m11">
            <div class="col s12 truncate">
              <%= result.best_book.title %>
            </div>
            <div class="col s12 truncate">
              <em><%= result.best_book.author.name %></em>
            </div>
            <div class="col s12">
              <%= result.average_rating %> (<%= result.ratings_count %>)
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>

<% end %>
